.huh-button {
	height: 24px;
	width: 60px;
	padding: 0;
  background-color: transparent;
	color: #000;
	font-size: 14px;
	line-height: 100%;
  letter-spacing: 0.2px;
	text-align: center;
	border: 1px solid #000;
	border-radius: 50px;
	cursor: pointer;
}